@import '../../variables.scss';

.Spirit {
  @include primary-content;
  display: flex;
  flex-direction: column;

  .homepage-wordmark {
    align-self: center;
    width: 500px;
  }

  .homepage-brief-descriptor {
    align-self: center;
    max-width: 550px;
    text-align: center;
  }
}