@import '../../variables.scss';

.SessionTabs {
  border-top: 5px solid $purple5;
  display: flex;

  a {
    text-decoration: none;
  }

  /*p {
    border: 5px solid $purple5;
    padding: 5px 10px 15px;
    margin: 0 auto;
    width: 9px;
    height: 9px;
    color: $purple1;
    background-color: $purple3;
    border-radius: 50px;
    font-size: 16px;
    position: relative;
  }*/

  h2 {
    @include match-h4;
    color: $purple1;
    margin: 8px 0 0px;
  }

  .session-tabs {
    width: 120px;
    margin: 0 1px;
    background-color: $purple3;
    text-align: center;
    cursor: pointer;
    height: 39px;
    @include std-transition;
    /*border-bottom: 5px solid $purple5;*/
  }

  .thread-connection {
    background-color: lightblue;
  }

  .active {
    background-color: $purple5;
  }

  .session-tabs:hover {
    background-color: $purple5;
  }
}