@import '../../variables.scss';

.SessionsComparison {
  h3 {
    text-align: center;
  }

  h4 {
    margin-bottom: 10px;
    text-align: center;
  }

  .comparison-section-holder {
    width: 1040px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}