@import '../../variables.scss';

 .UserDashboard {
  @include primary-content;

  h4 {
    text-align: center;
  }

  .input-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    margin: auto;
  }

  input {
    height: 100px;
    width: 110px;
    background-color: $grey1;
    border: none;
    padding: 0;
    font-size: 50px;
    border-bottom: 10px solid $grey2;
    text-align: center;
    font-weight: bold;
  }

  ::placeholder {
    font-size: 16px;
    position: relative;
    bottom: 10px;
  }

  button {
    width: 110px;
    height: 40px;
    background-color: $purple4;
    color: white;
    border: none;
    cursor: pointer;
    @include std-transition;
  }

  button:hover {
    background-color: $purple6;
  }

  .patient-name-description {
    @include match-h5;
    display: flex;
    max-width: 550px;
    margin: 0 auto 10px;
    padding: 10px;
  }

  .error-message {
    @include match-h5;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    color: #C00E0E;
  }

  .link-holder a {
    text-decoration: none;
    background-color: $green4;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    width: 200px;
    margin: auto;
  }

  .link-holder a:hover {
    background-color: $green5;
  }
 }