/******  GLOBAL CSS VARIABLES  ******/
/***  COLORS  ***/
/***  FONTS  ***/
* {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  outline: none;
  color: #6d6e71; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.3; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 900; }

::placeholder {
  opacity: .5;
  text-align: center; }

/***  MIXINS  ***/
.YesNo {
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0; }
  .YesNo h5 {
    margin-bottom: 0;
    margin-top: 0; }
  .YesNo .yes-no {
    border: none;
    background-color: none;
    height: 50px;
    margin: 0 10px;
    width: 50px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0); }
  .YesNo .yes-no .yes-span, .YesNo .yes-no .no-span {
    color: #d1d3d4; }
  .YesNo .yes-no .yes-span:hover, .YesNo .yes-no .no-span:hover {
    color: #808285; }
  .YesNo .yes-no-active {
    border: 3px solid #808285; }
  .YesNo .yes-no-active .yes-span, .YesNo .yes-no-active .no-span {
    color: #808285; }
  .YesNo .yes-span {
    position: absolute;
    top: 14px;
    left: 6px; }
  .YesNo .no-span {
    position: absolute;
    top: 14px;
    left: 10px; }
