@import '../../variables.scss';

.SliderTen {
  box-sizing: border-box;
  width: 100%;
  border: 4px solid #fff;
  border-radius: 5px;
  margin-bottom: 20px;

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .range-container {
    padding: 0 7px;
  }

  .slider-heading {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 7px;
  }

  .thread-connection {
    background-color: $green1;
  }

  .definition-holder {
    display: none;
  }

  .display-definition {
    display: block;
  }

  .definition-image {
    width: 17px;
    cursor: pointer;
    opacity: .65;
    margin-right: 5px;
  }

  .definition-image:hover {
    opacity: 1;
  }

  .button-fair {
    margin: 0 5px;
    color: #eee;
    font-size: 22px;
    cursor: pointer;
  }

  .button-fair:hover {
    color: $grey5;
  }

  .button-active {
    color: $grey5;
  }

  h5 {
    word-wrap: break-word;
    overflow: hidden;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 5px 0 0;
    color: #aaa;
  }

}