@import '../../variables.scss';

.Header {
  background-color: $purple1;
  padding: 7px 20px;

  .header-wordmark {
    margin: 0;
    width: 150px;
  }

  .header-welcome-user {
    position: absolute;
    right: 20px;
    top: -9px;
    color: $white1;
  }

  .header-welcome-clinic {
    position: absolute;
    right: 20px;
    top: 15px;
    color: $white1;
  }
}